@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&family=Noto+Sans+KR:wght@700&display=swap');
body {font-family: 'Nanum Gothic', sans-serif;}
:root {
    --bg-color: #F5F5F5;
    --font-color: #AD19EC;
    --line-color:#e5e5e5;
    --green-color:#00cd3c;
    --blue-color:#00A5FF;
    --font-default-opacity : .56;

    --button-color: #ffffff;
    --button-bg-color: #0d6efd;
    --button-hover-bg-color: #025ce2;
}

/* =============================================default ============================================= */

.input { width: 300px; height: 25px; padding: 6px 12px; font-size: 14px; color: #555; background-color: #fff; border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;}


.btn {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: var(--button-bg-color);
    color: var(--button-color);
    margin: 0;
    padding: 0.5rem 1rem;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    display: inline-block;
    width: auto;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    cursor: pointer;
    transition: 0.5s;
}

select {
    width: 200px; /* 원하는 너비설정 */
    padding: .8em .5em; /* 여백으로 높이 설정 */
    font-family: inherit;  /* 폰트 상속 */
    background: url('이미지 경로') no-repeat 95% 50%; /* 네이티브 화살표를 커스텀 화살표로 대체 */
    border: 1px solid #ccc;
    border-radius: 0px; /* iOS 둥근모서리 제거 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
    color: #555;
}

/*테이블*/
.table {background-color:#fff; box-shadow: 0 1px 1px rgb(0 0 0 / 4%); width: 98%}
.table thead {background-color: #fff; border-top: 2px solid #000;}
.table td .content-body th { text-align: left; vertical-align: middle;}
.table th {height: 48px; border-top: 1px solid var(--line-color); border-bottom: 1px solid var(--line-color);  color: #3D3D3D; font-size: 15px;}
.table td {height: 40px; border-bottom: 1px solid #f2f2f2; color: #3D3D3D; font-size: 15px; letter-spacing: -0.45px;}
.table tr:nth-child(2n+0){background: #F5F5F5}

.table02 th {border-top: 1px solid #EBEBEB; border-bottom: 1px solid #EBEBEB; background: #F5F5F5; padding-left:10px; width: 180px; height:55px; text-align: left; font-size: 15px; color: #3D3D3D; letter-spacing: -0.45px;}
.table02 td {border-top: 1px solid #EBEBEB; border-bottom: 1px solid #EBEBEB; min-width: 620px; padding-left: 10px; color: #3D3D3D; font-size: 15px; letter-spacing: -0.45px}

/*버튼*/
.btn01 {width: 80px; height: 40px; letter-spacing: -0.45px; color: #555555; opacity: 1; border: 1px solid #969696; background: #F5F5F5; cursor: pointer}
/* ============================================= end default ============================================= */

/*메뉴로고*/
#app {}
#app > nav {position: fixed;width: 230px; min-height: 100vh;background-color: #00217B;}
#app .nav-logo {margin: 24px 15px 41px 31px; color: #fff; }
#app .nav-logo img { width: 94px; height:40px; vertical-align: middle; margin-right: 10px;}
#app .nav-logo span {font-family: 'Noto Sans KR', sans-serif;letter-spacing: 5px; font-size: 24px}

/*메뉴 타이틀명*/
#app .nav-list .nav-info {padding-left: 10px; opacity: var(--font-default-opacity);}
#app .nav-list .nav-info span {font-size: 16px}
#app .nav-list .nav-info i {font-size: 16px;}

/*1차메뉴*/
#app .nav-list {color:#C8C8C8; }
#app .nav-list li {padding: 20px 29px 18px;}
#app .nav-list li a {color:#fff;}
#app .nav-list li i {font-size: 16px; }
#app .nav-list li span {font-size: 15px;}
#app .nav-list li .arrow {float: right}
#app .nav-list .active {background-color: #fff; background-size:30px; color: var(--font-color);}

/*2차메뉴*/
#app .nav-list .nav-sub-menu {max-height: 0;  transition: all .35s; overflow: hidden}
#app .nav-list .on {max-height: 100px;}
#app .nav-list .nav-sub-menu li{padding: 20px 45px 20px; display: block}

/*메인*/
#app #main {height: 100%;}


/*헤더*/
#app #main header {height: 64px; font-size:15px; color: #363636; border-bottom: 1px solid #00000029;  line-height: 60px; text-align: right}
#app #main header ul {margin-right: 30px;}
#app #main header ul li {font-size: 15px; letter-spacing: -0.45px; float: right}
#app #main header ul .introduce {color: #555555; margin-left: 20px;}
#app #main header ul li .extension {border: 1px solid #C8C8C8; background: #F5F5F5; padding: 4px 11px 4px 11px; color: #555555}
#app #main header ul li a {color: #fff; border-radius: 50px; padding: 7px 18px 6px 18px;}
#app #main header ul li .logout-btn {background-color: #284DB7; }
#app #main header ul li .modify-btn {background-color: #969696; margin-left:18px; margin-right: 5px;}
#app #main header ul li .d-day {color: #F40700}



/*메인 네비*/
#main .main-navi {height: 60px; background-color: #fff;}

/*바디*/
#app #main .content-body {margin-left: 260px; margin-top: 40px; }

/*바디 컨텐츠*/
#main .content-body .main-contents {display: flex}

/*컨텐트 레프트*/
.main-contents .content-left {flex: 1 1 37%; min-height:700px; }
.main-contents .content-left .quantity-box {display: flex}
.main-contents .content-left .quantity-box > div {display:flex;flex-flow: column;width: 400px; height: 160px; background: #F5F5F5; border-radius: 10px; margin-right: 10px; justify-content: center;align-items: center; text-align: center; font-size: 20px; letter-spacing: -0.6px; font-weight: bold}
.main-contents .content-left .quantity-box div:nth-child(1) img {width: 25px; height: 25px;}
.main-contents .content-left .quantity-box .quantity--personnel {margin-top: 20px}
.main-contents .content-left .quantity-box .quantity--personnel span {font-size: 30px;}

.main-contents .content-left .daily-box {margin-top: 26px;}
.main-contents .content-left .daily-box h3 {margin-bottom: 10px;}

.main-contents .content-left .bill-down-box {margin-top: 20px;}
.main-contents .content-left .bill-down-box img {width: 812px; height: 104px;}



/*컨텐트 라이트*/
.main-contents .content-right {flex: 1 1 37%; padding-left:20px;min-height: 700px;}
.main-contents .content-right #graph {width: 762px; height: 331px;}
.main-contents .content-right .laborer-box {display: flex; margin-top: 3px;}
.main-contents .content-right .laborer-box > a {display:flex; flex-flow: column; justify-content:center; align-items:center; text-align:center; width: 237px; height: 220px; margin-right: 20px; background-color: var(--bg-color); border-radius: 10px; letter-spacing: -0.6px;}
.main-contents .content-right .laborer-box > a span {color: #3D3D3D; letter-spacing: -0.51px; font-weight: bold; margin-top: 19px;}
.main-contents .content-right .laborer-box img {display: block}
.main-contents .content-right .laborer-box img:nth-child(1) {width: 76px; height: 40px;}
.main-contents .content-right .laborer-box img:nth-child(2) {width: 66px; height: 45px;}
.main-contents .content-right .laborer-box img:nth-child(3) {width: 39px; height: 48px;}

/* 거래처 일정보 */
.main-contents .content-right .account-box {margin-top: 18px;}
.main-contents .content-right .account-box h3 {margin-bottom: 10px;}

.content-right .depth {border-radius:50%; padding:5px 10px 5px 10px; color:#fff; text-align:center;}
.content-right .first {background-color:var(--green-color);}
.content-right .second {background-color:var(--blue-color);}

footer {display:flex;justify-content: center; align-items:center; margin-top:20px; border-top:1px solid var(--line-color); min-height: 150px; text-align: center;}
footer div {display:flex;  letter-spacing: -0.45px; color: #969696; font-size: 15px;}



/* ============= 비밀번호 확인 ============= */
.confirm-content {text-align: center}
.confirm-content > p {font-size: 30px; font-weight:bold; letter-spacing: -0.9px; color: #000000; margin-bottom: 33px;}
.confirm-content .content-guide p {font-size: 20px; letter-spacing: -0.6px; font-weight: bold;}
.confirm-content .content-guide p:nth-child(1) {color: #00217B;}
.confirm-content .content-guide p:nth-child(2) {color: #000000; margin-top:6px;}

.confirm-content .confirm-info {margin-top: 73px; }
.confirm-content .confirm-info div {color: #3D3D3D; font-size: 15px; letter-spacing: -0.45px; margin-right: 330px; font-weight: bold;}
.confirm-content .confirm-info span {letter-spacing: -0.45px; color: #3D3D3D; display: block; margin-right: 340px; margin-top: 8px; font-weight: bold;}
.confirm-content .confirm-info input[type="text"] {width:400px; height: 50px; background:#fff; border: 1px solid #969696; color: #3D3D3D; font-size: 15px; letter-spacing: -0.45px; margin-top: 19px}

.confirm-box {margin-top: 30px; margin-bottom: 49px; }
.confirm-box button {letter-spacing: -0.45px; padding: 9px 31px; border: none; cursor: pointer;}
.confirm-box button:nth-child(1){color: #555;  background-color: #D2D2D2;}
.confirm-box button:nth-child(2){color: #fff;  background-color: #00217B; }


/* ============= 회원정보 수정 페이지  ============= */
.member-content {}
.member-content h3 {font-size: 20px; letter-spacing: -0.6px; color: #000000; margin-bottom: 16px; }
.member-content .confirm-box {text-align: center; margin-bottom: 100px;}
.member-content .btn01 {margin-left: 6px;}
.member-content .file-info {margin-top: 7px; margin-bottom: 7px;}
.member-content .file-name {font-size: 15px; letter-spacing: -0.45px; color: #555555; cursor: pointer}
.member-content .hipen {margin:auto 3px auto 3px; color: #555}
.member-content .input {margin-top: 5px; margin-bottom: 5px;}




/* 사이즈 관련 */
.w80 {width: 80px;}
.w100 {width: 100px;}
.w150 {width: 150px;}
.w500 {width: 500px;}
