
/*보드 스타일 초기화*/
*:focus {outline:none;}
html{margin: 0 auto;max-width: 1920px;}
body{max-width: 1920px;min-width: 320px;width: 100%;background-color: #ffffff;font-family:'Noto Sans KR', dotum, sans-serif;line-height: 1;letter-spacing: -0.5px;}
a{color: #707070;}
h1, h2, h3, h4, h5, h6{font-family:'Noto Sans KR', dotum, sans-serif;}
hr{display: block;border: 0;margin: 0;}
input[type=text], input[type=password], textarea{
    -webkit-transition: all 0.0s ease-in-out;
    -moz-transition: all 0.0s ease-in-out;
    -ms-transition: all 0.0s ease-in-out;
    -o-transition: all 0.0s ease-in-out;
}
/*인풋박스 스타일 수정*/
.required, textarea.required{background-image: none !important;}
/*.wr_content textarea, .tbl_frm01 textarea, .form_01 textarea, .frm_input{border-radius: 0;}*/


#hd {border-top:0;}
#hd, #wrapper, #ft{width: 100%;min-width: auto;}
#hd_pop, #hd_wrapper, #tnb ul, #gnb .gnb_wrap, #container_wr, #ft_wr{width: 100%;}
#container{width: 100%;margin: 0;}

/*로그인*/
#login_fs{margin-bottom: 60px;}
#mb_login #login_info{margin: 0;}
.mbskin{max-width: 400px;width: 100%;}


/*---------------------------------------------------------------------------*/

.container{max-width: 1240px;width: 100%;margin: 0 auto;padding: 0 20px;}
.container.long{max-width: 1640px;padding: 0;}

@media (max-width: 1200px) {

}

@media (max-width: 768px) {
    .container{padding: 0 10px;}
}

.ul_hz{overflow: hidden;}
.ul_hz li{float: left;}

.ul_blet li{position: relative;}
.ul_blet li:after{content: "";position: absolute;left: 0;top: 0;width: 1px;height: 100%;background-color: #c2c2c2;}
.ul_blet li:first-child:after{display: none;}

.btn_ts{transition: all .25s;}

/*---------------------------------------------------------------------------*/
.br_l{display: block;}
.br_lm{display: block;}
.br_m{display: inline-block;}
.br_ms{display: inline-block;;}
.br_s{display: inline-block;;}

.show_l{display: block !important;}
.show_m{display: none !important;}
.show_s{display: none !important;}

.show_inline_l{display: inline-block !important;}
.show_inline_lm{display: inline-block !important;}
.show_inline_m{display: none !important;}
.show_inline_ms{display: none !important;}
.show_inline_s{display: none !important;}

@media (max-width: 1200px) {
    .br_l{display: inline-block;; !important;}
    .br_lm{display: block; !important;}
    .br_m{display: block; !important;}
    .br_ms{display: block; !important;}
    .br_s{display: inline-block;; !important;}

    .show_l{display: none !important;}
    .show_m{display: block !important;}
    .show_s{display: none !important;}

    .show_inline_l{display: none !important;}
    .show_inline_lm{display: inline-block !important;}
    .show_inline_m{display: inline-block !important;}
    .show_inline_ms{display: inline-block !important;}
    .show_inline_s{display: none !important;}
}

@media (max-width: 768px) {
    .br_l{display: inline-block;; !important;}
    .br_lm{display: inline-block;; !important;}
    .br_m{display: inline-block;; !important;}
    .br_ms{display: block; !important;}
    .br_s{display: block; !important;}

    .show_l{display: none !important;}
    .show_m{display: none !important;}
    .show_s{display: block !important;}

    .show_inline_l{display: none !important;}
    .show_inline_lm{display: none !important;}
    .show_inline_m{display: none !important;}
    .show_inline_ms{display: inline-block !important;}
    .show_inline_s{display: inline-block !important;}
}
/*---------------------------------------------------------------------------*/

@charset "utf-8";
* {padding:0;margin:0;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.container__wr_fhd {max-width:1920px; width:100%; margin:0 auto;}
.container__wr_1600 {max-width:1600px; width:100%; margin:0 auto;}
.container__wr_1200 {max-width:1200px; width:100%; margin:0 auto;}
ul, ol {list-style: none;}
h1,h2,h3,h4,h5,h6,a,p,span,div {font-weight: 400;color:#333;line-height:1.3em;word-break: keep-all;}
a {color:#333;text-decoration: none;word-break: keep-all;}
br {font-size:0;}
/* 반응형 가운데 정렬 이미지 */
.center_image {position:absolute;left:50%;top:50%;transform:translate(-50%, -50%);}

.section {clear:both;}
/*-----------------------------------------*/
/*head.php*/
/*-----------------------------------------*/
#header {position:fixed;width:100%;min-width:1200px;left:0;;z-index: 1000000;}
#header .hd-nav {padding: 20px 0;}
#header .hd-nav .hd-logo {display:inline-block;width:200px;vertical-align: middle;}
#header .hd-nav .hd-logo a {display:inline-block;width:100%;}
#header .hd-nav .hd-logo a img {}
#header .hd-nav .hd-menu {display:inline-block;padding:10px;vertical-align: middle;}
#header .hd-nav .hd-menu li {position:relative;display:inline-block;text-align:center;margin:0 35px;}
#header .hd-nav .hd-menu li a {display:block;font-size:20px;font-weight:400;color:#fff;}
#header .hd-nav .hd-menu li:after {content:'';position:absolute;width:1px;height:20px;top:50%;right:-35px;background:#fff;transform:translateY(-50%);}
#header .hd-nav .hd-menu li:last-child:after {display:none;}

#header .hd-nav .hd-login {float: right;padding:10px 0;}
#header .hd-nav .hd-login li {display:inline-block;vertical-align: middle;}
#header .hd-nav .hd-login li a {font-size:15px;letter-spacing:-0.45px;color:#f2f2f2;margin: 0 15px;}
#header .hd-nav .hd-login li:first-child a {margin: 0 15px;}
#header .hd-nav .hd-login .video-meeting {width:130px;height:45px;background:#0061AE;border-radius:50px;text-align:center;overflow: hidden;margin:0 10px;}
#header .hd-nav .hd-login .video-meeting a {display:inline-block;width:100%;height:100%;margin:0;}
#header .hd-nav .hd-login .video-meeting a img {width:18.5px;margin-right:10px;vertical-align: middle;}
#header .hd-nav .hd-login .video-meeting a span {display:inline-block;line-height:45px;font-size:16px;font-weight:bold;letter-spacing:-0.48px;color:#fff;vertical-align: middle;}

#header.on {background:#252525;}
#header.on .hd-nav .hd-menu li a {color:#fff;}
#header.on .hd-nav .hd-menu li a.hover {font-weight:bold;color:#00B6FA;}

#header .hd-nav__sub_menu {width:100%;background:#fff;border-top:1px solid #c8c8c8;}
#header.on .hd-nav__sub_menu {border-top:0;}
#header .hd-nav__sub_menu.open {border-top:1px solid #00A1ED; border-bottom: 1px solid #DBDBDB;}
#header .hd-nav__sub_menu.open .sub-menu__1dp  {height:280px;transition:all .2s ease-in-out;}
#header .hd-nav__sub_menu .sub-menu__1dp {height:0;overflow: hidden;transition:all .1s ease-in-out;}
#header .hd-nav__sub_menu .sub-menu__1dp > li {display:inline-block; width:calc(20% - 2px);height:100%;padding: 30px; border-right:1px solid #c8c8c8;vertical-align: top;}
#header .hd-nav__sub_menu .sub-menu__1dp > li:last-child {border-right:0;}
#header .hd-nav__sub_menu .sub-menu__1dp > li > a {display: block;width:130px;font-family:GmarketSansBold;font-size:18px;font-weight:800;letter-spacing:-0.9px;color:#363636;margin-bottom:15px;}
#header .hd-nav__sub_menu .sub-menu__1dp > .sub-menu__img {position:relative;padding:20px 30px;}
#header .hd-nav__sub_menu .sub-menu__1dp > .sub-menu__img > .img_wrap {width:100%;text-align: right;}
#header .hd-nav__sub_menu .sub-menu__1dp > .sub-menu__img > .img_wrap img {}
#header .hd-nav__sub_menu .sub-menu__1dp > .sub-menu__img > a {font-family:GmarketSansMedium;font-size:20px;letter-spacing:-1px;color:#0E3298;margin-top:40px;}
#header .hd-nav__sub_menu .sub-menu__1dp > .sub-menu__img > a > strong {font-family: GmarketSansBold;}
#header .hd-nav__sub_menu .sub-menu__1dp > li .sub-menu__2dp {position:relative;}
#header .hd-nav__sub_menu .sub-menu__1dp > li .sub-menu__2dp li {margin-top:7px;}
#header .hd-nav__sub_menu .sub-menu__1dp > li .sub-menu__2dp li:nth-child {margin-top:0;}
#header .hd-nav__sub_menu .sub-menu__1dp > li .sub-menu__2dp li a {font-size:16px;letter-spacing:-0.17px;}
#header .hd-nav__sub_menu .sub-menu__1dp > li .sub-menu__2dp li a:hover {font-weight:bold;color:#0094FA;}

/* 서브 헤더 */
#sub-head {}
#sub-head .sub-bg {position:relative;width:100%;height:500px;}
#sub-head .sub-bg .sub-head__text {position:absolute;width:1200px;top:57%;left:50%;transform: translate(-50%, -50%);}
#sub-head .sub-bg .sub-head__text h1 {font-size:25px;font-weight:bold;letter-spacing:-0.75px;color:#fff;margin-bottom:15px;}
#sub-head .sub-bg .sub-head__text span {display:block;font-family: s-core-dream-extralight;font-size:38px;letter-spacing: -1.9px;color:#fff;margin-bottom:5px;}
#sub-head .sub-bg .sub-head__text span strong {font-family:s-core-dream-bold;}

/* 서브 공통 */
#sub-page__wrap {width:1200px; padding: 10px 0 50px;margin: 0 auto;overflow: hidden;}

/* 서브 사이드 메뉴 */
.sub-side__nav {display:inline-block;width:220px;float:left;}
.sub-side__nav .sub-side__title {display:flex;align-items:center;height:106px;border-bottom:1px solid #969696;}
.sub-side__nav .sub-side__title h2 {font-size:22px;font-weight:400;letter-spacing: -1.1px;color:#363636;}
.sub-side__nav ul {display:block;width:100%;margin-top:10px;}
.sub-side__nav ul li {font-size:17px;letter-spacing: -0.85px;color:#fff;padding:15px 11px 15px 14px;border-radius:10px;}
.sub-side__nav ul li a {color:#898989;}
.sub-side__nav ul li.active {background:#0061AE;}
.sub-side__nav ul li.active a {color:#fff;}

/* 서브 컨텐츠 헤더 */
.sub-contents__head {display:inline-block;width:920px;float:right;}
.sub-contents__head .sc-nav {height:106px;display:flex;align-items: center;justify-content: space-between;}
.sub-contents__head .sc-nav .sc-title {}
.sub-contents__head .sc-nav .sc-title h1 {display:inline-block;font-size:30px;font-weight:bold;letter-spacing: -1.5px;color:#363636;}
.sub-contents__head .sc-nav .sc-title .sc-location {float:right;display:inline-block;vertical-align: top;margin-top:5px;}
.sub-contents__head .sc-nav .sc-title .sc-location span {font-size:13px;letter-spacing: -0.39px;color:#969696;vertical-align: middle;}

/* 서브 페이지 시작 */
.sub-contents__body {width:920px;float:right;}
.sub-menu__wrap p{
    font-size:17px;
    color:#555555;
    line-height: 26px;
}
.sub-menu__wrap .sub10-menu10__con {width:100%;height:320px;}

/*퀵 quick*/
.quick {position:fixed;right:30px;bottom:30px;z-index: 10000;}
.quick ul {}
.quick ul li {width:68px;height:68px;border-radius:50%;margin-top:7px;cursor:pointer;overflow: hidden;}
.quick ul li:nth-of-type(1) {background:#4a26ff;}
.quick ul li:nth-of-type(2) {background:#0E3298;}
.quick ul li:nth-of-type(3) {background:#0094FA;}
.quick ul li a {display:flex; width:100%;height:100%;align-items: center;justify-content: center;}
.quick ul li a img {}

/*-----------------------------------------*/
/*index.php*/
/*-----------------------------------------*/
#main_wrap {padding: 150px 0 50px;}
#main_wrap .main_section {border-radius: 10px;margin-top:20px;vertical-align: top;}
#main_wrap .section_con {vertical-align: top; border-radius: 10px; overflow: hidden;}

/*section01*/
#main_wrap .section01 {margin-top:0;}
#main_wrap .con01 {display:inline-block;width:calc(50% - 12px);margin-right:10px;height:430px;}
#con01_slider {position:relative;height:100%;}
#con01_slider .slider_item {height:100%;}
#con01_slider .slider_item img {width:100%;}
#con01_slider .slider_item .text_wrap {padding:50px;}
#con01_slider .slider_item .text_wrap h1 {font-family:GmarketSansMedium; font-size:40px;letter-spacing: -2px;color:#284DB7;}
#con01_slider .slider_item .text_wrap h1 strong {font-family:GmarketSansBold;font-size:45px;letter-spacing: -2.25px;color:#0E3298;}
#con01_slider .slider_item .text_wrap span {display:inline-block;font-size:18px;letter-spacing: -0.9px;margin-top:10px;}

#con01_slider .slick-arrow {position:absolute;width:20px;height:38px;top:50%;margin-top:-19px;font-size:0;border:0;background:transparent url(/theme/basic/img/arrow_img.png) no-repeat top center / cover;z-index: 1000;}
#con01_slider .slick-prev {left:5%;}
#con01_slider .slick-next {transform:rotate(180deg);right:5%;}

#con01_slider .slick-dots {position:absolute;width:100%;bottom:25px;text-align:center;cursor:pointer;}
#con01_slider .slick-dots li {display:inline-block;width:10px;height:10px;background:#fff;border-radius: 50%;margin: 0 5px;}
#con01_slider .slick-dots .slick-active {background:#0E3298;}
#con01_slider .slick-dots li button {font-size:0;border:0;background:transparent;}

#main_wrap .con02 {display:inline-block;width:calc(50% - 12px);margin-left:10px;height:430px;background:#fff;padding:40px;}
#main_wrap .con02 .con02_head {padding-bottom: 20px;border-bottom:1px solid #DBDBDB;}
#main_wrap .con02 .con02_head .con02_title {}
#main_wrap .con02 .con02_head .con02_title h2 {display:inline-block;font-size:24px;font-weight:bold;letter-spacing: -0.72px;color:#555;}
#main_wrap .con02 .con02_head .con02_title h2 strong {color:#0061AE;}
#main_wrap .con02 .con02_head .con02_title span {display:block;font-size:16px;letter-spacing: -0.8px;color:#969696;margin-top:5px;}
#main_wrap .con02 .con02_head .con02_title img {float:right;width:80px;}

#main_wrap .con02 .con02_body {}
#main_wrap .con02 .con02_body .main_business_list {padding: 25px 0;}
#main_wrap .con02 .con02_body .main_business_list li {margin-bottom:15px;}
#main_wrap .con02 .con02_body .main_business_list li img {width:15px;margin-right:7px;vertical-align: middle;}
#main_wrap .con02 .con02_body .main_business_list li span {display:inline-block;font-size:16px;letter-spacing: -0.8px;color:#555;vertical-align: middle;}
#main_wrap .con02 .con02_body .main_business_list li p {float:right;font-size:15px;letter-spacing: -0.75px;color:#969696;vertical-align: middle;}

/*section02*/
.section02 {}
.con03, .con04 {display:inline-block;width:calc(50% - 13px);height:190px;border-radius:10px;overflow: hidden;}
.con03 {margin-right:10px;}
.con04 {margin-left:10px;}
.con03 .text_wrap {display:flex;width:100%;height:100%;padding:40px;flex-flow:column;align-items: start;justify-content: center;}
.con03 .text_wrap h3 {font-size:24px;letter-spacing: -0.72px;color:#252525;}
.con03 .text_wrap span {font-size:16px;letter-spacing: -0.8px;color:#969696;margin-top:10px;}

.con04 .con04_part01,.con04 .con04_part02 {display:inline-block;width:calc(50% - 12px);height:100%;border-radius:10px;overflow: hidden;}
.con04 .con04_part01 {background:#0094fa;margin-right:10px;}
.con04 .con04_part01 a {display:block;}
.con04 .con04_part01 a .img_wrap {width:100%;height:100px;display:flex;align-items: flex-end;justify-content: center;}
.con04 .con04_part01 a .img_wrap img {width:65px;}
.con04 .con04_part01 a .text_wrap {text-align: center;}
.con04 .con04_part01 a .text_wrap h4 {font-size:25px;font-weight:900;letter-spacing: -0.25px;color:#f6ff58;}
.con04 .con04_part01 a .text_wrap span {display:block;font-size:15px;letter-spacing: -0.45px;color:#c9e1ff;margin-top:5px;}
.con04 .con04_part02 {background:#284db7;margin-left:10px;}
.con04 .con04_part02 a {display:block;}
.con04 .con04_part02 a .img_wrap {width:100%;height:100px;display:flex;align-items: flex-start;justify-content: flex-end;padding:26px 36px;}
.con04 .con04_part02 a .img_wrap img {width:48px;}
.con04 .con04_part02 a .text_wrap {padding: 0 30px;}
.con04 .con04_part02 a .text_wrap h4 {font-size:20px;font-weight:600;letter-spacing: -0.2px;color:#fff;}
.con04 .con04_part02 a .text_wrap span {display:block;font-size:15px;letter-spacing: -0.45px;color:#afc4ff;margin-top:10px;}

/*section03*/
.section03 {}
.section03 .con05 {padding:40px 40px 50px;background:#fff;}
.section03 .con05 .consulting_menu_list {}
.section03 .con05 .consulting_menu_list li {display:inline-block;width:calc(20% - 2px);height:110px;padding:0 20px;border-right:1px solid #DBDBDB;text-align: center;}
.section03 .con05 .consulting_menu_list li:last-of-type {;border-right:0;}
.section03 .con05 .consulting_menu_list li a {display:flex;width:100%;height:100%;flex-flow:column;align-items: center;justify-content: flex-end;}
.section03 .con05 .consulting_menu_list li a img {}
.section03 .con05 .consulting_menu_list li a h5 {font-size:17px;letter-spacing: -0.51px;color:#252525;margin-top:20px;}

/*section04*/
.section04 {}
.section04 .latest_con {display:inline-block;width:calc(50% - 53px);height:287px;vertical-align: top;}
.section04 .main_notice {margin-right:50px;}
.section04 .main_edu {margin-left:50px;}
.section04 .latest_con .latest_top {}
.section04 .latest_con .latest_top .latest_subject {display:inline-block;font-size:24px;letter-spacing: -0.72px;color:#252525;}
.section04 .latest_con .latest_top .plus_btn {float:right;display:inline-block;width:28px;}
.section04 .latest_con .latest_top .plus_btn img {width:100%;height:100%;}

.section04 .latest_con .notice_mid {}
.section04 .latest_con .notice_mid ol {margin-top:5px;}
.section04 .latest_con .notice_mid ol li {padding:12px 10px;border-bottom:1px solid #DBDBDB;}
.section04 .latest_con .notice_mid ol li span {display:inline-block;font-size:16px;letter-spacing: -0.8px;}
.section04 .latest_con .notice_mid ol li .main_notice_subject {color:#555;}
.section04 .latest_con .notice_mid ol li .main_notice_date {float:right;color:#969696;}

.section04 .latest_con .edu_mid {}
.section04 .latest_con .edu_mid ul {margin-top:25px;}
.section04 .latest_con .edu_mid ul li {display:inline-block;width:calc(33% - 13px);margin-right:20px;text-align: center;}
.section04 .latest_con .edu_mid ul li:last-of-type {margin-right:0;}
.section04 .latest_con .edu_mid ul li .img_wrap {display:inline-block;width:100%;}
.section04 .latest_con .edu_mid ul li .img_wrap img {width:100%;height:100%;}
.section04 .latest_con .edu_mid ul li .text_wrap {width:100%;padding:0 10px;text-align: left;}
.section04 .latest_con .edu_mid ul li .text_wrap span {
    display:inline-block;font-size:16px;line-height:1.5em;letter-spacing: -0.8px;color:#555;margin-top:15px;
    /*2줄 말줄임표 - height가 1줄당 18px씩 계산*/
    display:-webkit-box;
    word-wrap:break-word;
    -webkit-box-orient:vertical;
    -webkit-line-clamp:2;
    white-space: normal;
    max-height:50px;
    line-height:25px;
    overflow: hidden;
}


/*-----------------------------------------*/
/*tail.php*/
/*-----------------------------------------*/
#footer {}
#footer .ft-top {height:65px;background:#f2f2f2;}
#footer .ft-top ul {width:1200px;margin: 0 auto;}
#footer .ft-top ul li {display:inline-block;line-height:65px;font-size:16px;letter-spacing: -0.8px;color:#898989;margin-right:40px;}
#footer .ft-mid {padding:30px 0 55px;}
#footer .ft-mid .ft-con {position:relative;width:1200px;margin:0 auto;}
#footer .ft-mid .ft-con .ft-info {width:650px;}
#footer .ft-mid .ft-con .ft-info span {font-size:16px;letter-spacing: -0.8px;color:#969696;margin-bottom:5px; line-height: 25px;}
#footer .ft-mid .ft-con .ft-info .copyright {font-size:16px;letter-spacing: -0.8px;color:#969696;margin-top:15px;}
#footer .ft-mid .ft-con .partners-iogo {position:absolute;right:0;top: 0;text-align: right;}
#footer .ft-mid .ft-con .partners-iogo li {margin-bottom:10px;}


